### This is a capstone project by Onkina

Segmenting and Clustering Neighborhoods in Toronto

The goal is to scrap https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe for further usage.

In [31]:
import requests
import lxml.html as lh
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

#Check the length of the first 10 rows
[len(T) for T in tr_elements[:10]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [32]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print (i,name)
    col.append((name,[]))

1 Postal code

2 Borough

3 Neighborhood

In [33]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()
        #remove "\n" from the end of the fields
        data=data.rstrip("\n")
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [34]:
[len(C) for (title,C) in col]

[181, 181, 181]

In [35]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [52]:
df.head()

  Postal code\n         Borough\n              Neighborhood\n
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York                   Parkwoods
3           M4A        North York            Victoria Village
4           M5A  Downtown Toronto  Regent Park / Harbourfront

In [100]:
#crename the headers by chance
headers=["Postal code","Borough","Neighborhood"]
df.columns=headers

#drop the lines with not assigned borough
df1=df.loc[df["Borough"]!='Not assigned']
df1.tail()

,Postal code,Borough,Neighborhood
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
180,,Canadian postal codes,

In [101]:
#drop the lines with not assigned borough
df1=df1.loc[df["Borough"]!='Canadian postal codes']
df1.tail()

,Postal code,Borough,Neighborhood
160,M8X,Etobicoke,The Kingsway / Montgomery Road / Old Mill North
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...

In [102]:
#size of table before clearing
df.shape

(181, 3)

In [103]:
#size of table after clearing empty cells
df1.shape

(103, 3)